@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helveti";
  src: url("/fonts/HelveticaNeue.ttf") format("truetype");
}
@font-face {
  font-family: "din";
  src: url("/fonts/DINCondensedBold.ttf") format("truetype");
}

body {
  font-family: "helveti", sans-serif;
}

.din {
  font-family: "din", sans-serif;
}
